.header_characters {
  height: 100%;
  margin-bottom: 40px;
  min-width: 100%;
  position: relative;
}

.div_characters {
  align-items: baseline;
  color: white;
  justify-content: space-between;
  margin: 10px auto;
}

.logo_characters h1 {
  transition: all 0.2s ease;
}
.logo_characters h1:hover {
  background-color: rgb(91, 91, 91);
  box-shadow: 0 0 5px black;
}

.poster_characters {
  background-image: url('../../../public/background_project_2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 381px;
  margin: auto;
}
.poster_characters p {
  align-items: center;
  background-color: #0000006c;
  color: var(--pallet-for);
  font-size: 85px;
  font-weight: 800;
  height: 100%;
  text-align: center;
  width: 100%;
}

.link_characters {
  color: var(--pallet-tree);
  font-size: 25px;
}
.link_characters span {
  margin-left: 5px;
}


/* ---  --- */
.poster_characters, .div_characters {
  width: 90%;
}

.poster_characters, .poster_characters p {
  border-radius: 10px;
}

.div_characters,
.poster_characters p,
.div_input,
.div_list ul,
.div_list ul li,
.div_button {
  display: flex;
}

.div_input, .poster_characters p {
  justify-content: center;
}

.s1, .s2 {
  font-size: 14px;
  margin-bottom: 3px;
}

.div_list, .div_info, .div_button {
  width: 100%;
}
.div_list ul, .div_button {
  justify-content: center;
}


/* --- componente Interactions --- */

.section_interactions {
  margin-bottom: 30px;
}

.div_input {
  margin-bottom: 20px;
}

.div_input input {
  background-color: #483C67;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  height: 40px;
  padding: 15px;
  width: 60%;
}

.div_list ul {
  flex-wrap: wrap;
  gap: 7px;
  list-style: none;
}

.div_list ul li {
  background-color: var(--pallet-six);
  box-shadow: 0 0 5px black;
  border-radius: 40px;
  height: 220px;
  padding: 15px;
  position: relative;
  width: 340px;
}

.div_list ul li img {
  border-radius: 100px;
  transform: translateY(20px);
}

.div_info {
  gap: 5px;
  margin-left: 5px;
}

.div_info p {
  color: var(--pallet-five);
  max-width: 17ch;
  overflow: hidden;
  padding-left: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.name {
  border-left: 5px double var(--pallet-seven);
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 20px;
}

.s1 {
  color: var(--pallet-tree);
}
.s2 {
  color: var(--pallet-seven);
}

.div_button {
  bottom: 25px;
  position: absolute;
}

.div_button button {
  background-color: var(--pallet-tree);
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 5px var(--pallet-tree);
  height: 35px;
  transition: background-color 0.3s ease;
  width: 170px;
}

.div_button button:hover {
  background-color: var(--pallet-two);
  color: var(--pallet-tree);
  cursor: pointer;
}