.main {
  justify-content: space-between;
  padding: 5px;
  min-height: 100vh;
}

.itens {
  flex-wrap: wrap;
  justify-content: center;
  gap: 7px;
  width: 93%;
}

.item {
  border: 1px solid;
  flex: 1 1 200px;
  padding: 5px;
  position: relative;
}

.item figcaption {
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.main, .itens, .item {
  display: flex;
  align-items: center;
}

.main, .item {
  flex-direction: column;
}
