.main {
  justify-content: space-between;
  padding: 5px;
  min-height: 100vh;
}

.itens {
  flex-wrap: wrap;
  justify-content: center;
  gap: 9px;
  width: 93%;
}

.item {
  box-shadow: 0 0 5px black, inset 0 0 2px black;
  border-radius: 10px;
  flex: 1 1 160px;
  height: 170px;
  padding: 5px;
}

.item img {
  border-radius: 100px;
}

.item figcaption {
  color: var(--pallet-five);
  text-align: center;
  width: 100%;
}

.main, .itens, .item {
  display: flex;
  align-items: center;
}

.main, .item {
  flex-direction: column;
}
