.main_locations {
  margin-top: 50px;
}


.li_item {
  background-color: var(--pallet-six);
  border-radius: 20px;
  height: 120px;
  margin: 0 0 17px 15px;
  width: 75%;
}


.div_info_location {
  flex-grow: 1;
  padding: 10px 0 0 20px;
}

.div_info_name {
  margin-bottom: 17px;
}
.div_info_name h3 {
  font-size: 23px;
}

.div_info_details {
  flex-wrap: wrap;
  gap: 5px 50px;
  margin: 10px 0 0 30px;
  width: 60%;
}
.div_info_details p {
}
.span_keys {
  color: var(--pallet-tree);
  margin-right: 8px;
}


.div_button_copy {
  align-items: center;
  justify-content: center;
  width: 17%;
}
.div_button_copy button {
  background-color: transparent;
  box-shadow: 0 0 5px black;
  border: none;
  border-radius: 10px;
  color: var(--pallet-tree);
  cursor: pointer;
  font-size: 30px;
  padding: 10px;
  transition: filter 0.3s linear;
}
.div_button_copy button:hover {
  filter: drop-shadow(0 0 5px var(--pallet-tree));
}
.div_button_copy button:active {
  box-shadow: 0 0 5px black, inset 0 0 3px black;
}


/* ---  --- */

.li_item,
.div_button_copy,
.div_info_details {
  display: flex;
}


.div_info_name h3, .span_values {
  color: white;
}

.span_keys, .span_values {
  font-size: 17px;
}


.div_info_location, .div_button_copy {
  height: 100%;
}