.main_card {
  padding: 5px;
  margin-top: 30px;
}


.header_card {
  margin-bottom: 15px;
  text-align: center;
}
/* .header_card h1 {} */


.section_card {
  background-color: #41414d90;
  border-radius: 40px;
  box-shadow: 0 0 8px black;
  height: 490px;
  max-width: 80%;
}


.div_icons {
  height: 60px;
  justify-content: space-between;
  padding-top: 15px;
  width: 90%;
}

.div_icons a {
  color: var(--pallet-seven);
  transform: rotate(-90deg);
}
.div_icons a:hover {
  filter: drop-shadow(0 0 5px var(--pallet-seven));
}

.div_icons button {
  background-color: transparent;
  border: none;
  color: var(--pallet-eight);
  cursor: pointer;
  font-size: 40px;
}
.div_icons button:hover {
  filter: drop-shadow(0 0 5px var(--pallet-eight));
}

.div_icons span {
  color: var(--pallet-eight);
}


.div_info {
  justify-content: center;
  transform: translateY(-30px);
}

/* .div_info_one {} */
.div_info_one img {
  border-radius: 100%;
  margin-bottom: 15px;
}
.div_info_one h3 {
  color: var(--pallet-five);
  font-size: 24px;
}

.div_info_two {
  gap: 7px;
  padding: 5px;
  width: 70%;
}
.div_info_two p {
  color: var(--pallet-for);
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 4px;
}


.separator {
  background-color: var(--pallet-eight);
  border-color: var(--pallet-eight);
  border-radius: 10px;
  height: 3px;
  margin: 10px auto 25px;
  width: 20%;
}

/* --- --- */

.main_card, .header_card, .div_details_one {
  width: 100%;
}


.section_card, .div_icons {
  margin: auto;
}


.div_icons a, .div_icons span {
  font-size: 30px;
}

.div_icons a, .div_icons button {
  height: 45px;
  width: 45px;
  position: relative;
}
.div_icons a svg, .div_icons button svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.div_icons, .div_info, .div_info_one, .div_info_two p {
  align-items: center;
  display: flex;
}


.div_info, .div_info_one {
  flex-direction: column;
}


.div_info_one span, .div_info_two p span {
  color: var(--pallet-seven);
}